@font-face {
  font-family: MuseoSlab;
  font-weight: 100;
  src: url("../font/Museo_Slab_100.otf"); }
@font-face {
  font-family: MuseoSlab;
  font-weight: 300;
  src: url("../font/Museo_Slab_300.otf"); }
@font-face {
  font-family: MuseoSlab;
  font-weight: 500;
  src: url("../font/Museo_Slab_500.otf"); }
body {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: MuseoSlab;
  font-weight: 100;
  -webkit-overflow-scrolling: touch; }

body {
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease; }
  body > * {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }

body.show-menu {
  -webkit-transform: perspective(1px) translateZ(0) translateX(-70%);
          transform: perspective(1px) translateZ(0) translateX(-70%); }

header.mini {
  max-height: 56px;
  border-top: 5px solid #cf2f77;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  header.mini li a {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    font-size: 17px; }
  header.mini .home {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    margin-left: -10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    border: 6px solid #facf4e;
    display: inline-block; }

header {
  font-weight: 300;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  background-color: #facf4e;
  border-top: 10px solid #cf2f77;
  max-height: 80px;
  height: 80px;
  position: fixed; }
  header .home {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    margin-left: -10px;
    width: 60px;
    height: 60px;
    background: url(../images/logo_nico.png);
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    border: 8px solid #facf4e;
    display: inline-block; }
  header .burger {
    background: url(../images/ic_menu_36px.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: transparent; }
  header nav {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    @media (max-width: 565px) {
      header nav {
        padding: 0 10px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative; } }
    header nav > * {
      height: 100%; }
    header nav > ul {
      padding: 0 0; }
@media(max-width: 565px) {
  header nav > ul {
    background-color: gray;
    padding-top: 50px;
    position: absolute;
    width: 100vw;
    height: 300vh;
    right: 0;
    top: -10px;
    bottom: 0;
    border-top: 10px solid #facf4e;
    background-color: #cf2f77;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
    header nav > ul li {
      text-align: left;
      padding: 20px 20px; }
      header nav > ul li a {
        color: white; } }
@media(min-width: 566px) {
  header nav .burger {
    display: none; }
  header nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header nav > ul > li {
      display: inline; }
    header nav > ul > li:not(:last-child) a::after {
      content: "//";
      display: inline;
      margin: 0 10px; } }
  header li a {
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    display: block;
    margin: 10px 0px;
    font-size: 19px;
    text-decoration: none;
    color: #3d3d3d; }
    @media (max-width: 800px) {
      header li a {
        font-size: 17px; } }

footer {
  font-weight: 100;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .expander {
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  footer .expand .expander {
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  footer .expand .expander:first-child {
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  footer .expand-symbol {
    -webkit-transform: scale(0.5, 1.7);
        -ms-transform: scale(0.5, 1.7);
            transform: scale(0.5, 1.7); }
  footer h2 {
    margin-top: 40px; }
  footer * {
    color: #f4eef3; }
  footer h3 {
    font-size: 1em;
    margin: 0 10px; }
  footer p {
    max-width: 360px;
    font-size: 13px;
    line-height: 1.4; }
  footer > * {
    width: 100%;
    padding: 10px 0; }
    footer > * > * {
      margin: 0 auto;
      text-align: center; }
  footer .contact {
    background-color: #803f83;
    max-height: 200px;
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear;
    overflow-y: hidden; }
  footer .social {
    background-color: #9fc758; }
  footer .impressum {
    max-height: 180px;
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear;
    overflow-y: hidden;
    background-color: #2a96c5; }
    footer .impressum > * {
      max-width: 400px; }
  footer .contact:not(.expand), footer .impressum:not(.expand) {
    max-height: 14px;
    overflow-y: hidden;
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear; }
  footer .social ul {
    padding: 0 0;
    text-align: center;
    height: 40px; }
    footer .social ul > li {
      overflow: hidden;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin: 0 10px;
      background-color: black;
      border: 4px solid black; }
      footer .social ul > li img {
        height: 100%;
        width: 100%;
        background-color: white;
        -webkit-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1); }

.hidden {
  display: none; }

article {
  max-width: 1100px;
  margin: 0 auto; }

ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  ul li > div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    ul li > div .graphic img {
      display: block;
      margin: 0 auto; }
    ul li > div .graphic {
      width: 30%; }
    ul li > div .content {
      text-align: center;
      -webkit-align-self: stretch;
          -ms-flex-item-align: stretch;
              align-self: stretch;
      width: 70%; }
      ul li > div .content > * {
        font-size: 17px;
        margin: 20px auto;
        font-weight: 300; }
    ul li > div a {
      text-decoration: none; }
    ul li > div a::before {
      content: ">>"; }
    ul li > div a::after {
      content: "<<"; }

article > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px 10px;
  padding-bottom: 0px;
  margin: 0 0;
  margin-bottom: -10px; }
  article > ul > li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 2vw;
    height: 250px;
    border: 1px solid #bdbeba;
    border-right: none;
    border-top: none; }
    article > ul > li > h1 {
      color: black;
      background-color: #bdbeba;
      width: 100%;
      padding: 20px 40px;
      font-size: 20px;
      font-weight: 500;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      text-align: center; }
    @media (min-width: 701px) {
      article > ul > li {
        min-width: 40%;
        -webkit-flex-basis: 40%;
            -ms-flex-preferred-size: 40%;
                flex-basis: 40%; } }
    @media (max-width: 700px) {
      article > ul > li {
        min-width: 80%;
        -webkit-flex-basis: 80%;
            -ms-flex-preferred-size: 80%;
                flex-basis: 80%;
        max-width: 500px; } }
    @media (max-width: 700px) {
      article > ul > li {
        margin: 10px 0; } }
  article > ul > li.flex-fill {
    height: 0; }

.termine h1 {
  border-right: 10px solid #cf2f77;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.termine .content {
  border-right: 10px solid #facf4e; }
.termine .graphic {
  position: relative; }
  .termine .graphic .day {
    position: absolute;
    top: 26px;
    left: calc(50% - 10px);
    font-size: 22px; }
  .termine .graphic .month {
    position: absolute;
    top: 44px;
    left: calc(50% - 10px); }
.termine a {
  color: #cf2f77; }

.youtube h1 {
  border-right: 10px solid #2a96c5;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.youtube .content {
  border-right: 10px solid #dd5433; }

.buehne h1 {
  border-right: 10px solid #803f83;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.buehne .content {
  border-right: 10px solid #9fc758; }

.museum h1 {
  border-right: 10px solid #51b8b0;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.museum .content {
  border-right: 10px solid #facf4e; }
.museum img {
  padding-left: 14px; }

.newsletter h1 {
  border-right: 10px solid #dd5433;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.newsletter .content {
  border-right: 10px solid #2a96c5; }

.shop h1 {
  border-right: 10px solid #9fc758;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
.shop .content {
  border-right: 10px solid #803f83; }

.main {
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  max-width: 1100px; }
  @media (max-width: 565px) {
    .main {
      padding: 10px; } }
@media(max-width: 565px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
  .main article {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
@media(max-width: 565px) {
  .main article {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .main aside {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .main aside ul {
      margin-left: -10px;
      margin-right: -10px;
      padding: 0 0px;
      z-index: -1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow-x: scroll; }
      .main aside ul li {
        padding: 10px;
        display: inline;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        height: 100px; }
        .main aside ul li img {
          height: 100%; } }
@media(min-width: 566px) {
  .main aside {
    float: right;
    min-width: 33.333%; }
    .main aside ul {
      padding: 0 0;
      list-style: none;
      width: 100%; }
      .main aside ul li {
        padding: 10px; }
      .main aside ul img {
        max-width: 100%;
        max-height: 100%; } }
